# ICE 2: Introduction to Data Manipulation in Python - PART 2
#### Course: HUDK 4050, Week 4
#### Author: Madeline Maeloa

### Data manipulation in array

In [2]:
import numpy as np # Don't forget to import numpy

np.random.seed(123)  # We are generating random number here, so it will be different every time.
                     # Setting a seed = 123 help us generate the exact same numbersext time when we call 123 for reproducibility purposes.
                     # You can use any number as a seed.
m1 = np.random.randint(0, 100, size = 10) # Create a array of 10 random integers in the interval [0, 100)
m2 = np.random.randint(10, size=(3, 4)) # Create a 3 x 4 array of in the interval [0, 10)
print("The one-dimensional array looks like this:\n", m1)
print("The two-dimensional array looks like this:\n", m2)

The one-dimensional array looks like this:
 [66 92 98 17 83 57 86 97 96 47]
The two-dimensional array looks like this:
 [[9 0 0 9]
 [3 4 0 0]
 [4 1 7 3]]

In [3]:
# Accessing single elements 
# Indexing in NumPy starts from 0 until the i-th value
m1[0]

66

In [4]:
m1[-2]

96

In [5]:
# Ssame rules apply for multi-dimensional arrays
# First row, last column
m2[0,-1]

9

In [6]:
# Second row, second to last column
m2[1,-2]

0

In [7]:
# Accessing subarrays
m1[1:7:2] # accessing the second, forth, and sixth element

array([92, 17, 57])

In [8]:
# First five elements
m1[:5]

array([66, 92, 98, 17, 83])

In [9]:
# Accessing elements after the sixth element
m1[5:]

array([57, 86, 97, 96, 47])

In [10]:
# Every other element
m1[::2]

array([66, 98, 83, 86, 96])

In [15]:
# Every other element starting from the second
m1[1::2]

array([92, 17, 57, 97, 47])

In [16]:
# All elements reversed
m1[::-1]

array([47, 96, 97, 86, 57, 83, 17, 98, 92, 66])

In [17]:
# First 2 rows, first 3 cols
m2[:2,:3]

array([[9, 0, 0],
       [3, 4, 0]])

In [18]:
# First col
m2[:,0]

array([9, 3, 4])

In [20]:
# First row
m2[0,:]

array([9, 0, 0, 9])

In [21]:
# First row compact format
m2[0]

array([9, 0, 0, 9])

In [22]:
# Build masking to an array
# Accesses all the elements greater than 1
m2[m2>1]

array([9, 9, 3, 4, 4, 7, 3])

In [24]:
# np.concatenate stacks arrays of the same dimension together
grid = np.array([[1,2,3],
               [4,5,6]])
np.concatenate([grid,grid])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [25]:
# Grid + 1 = every element in grid increments by 1
# np.vstack stacks arrays together veritcally
np.vstack([grid, grid+1])

array([[1, 2, 3],
       [4, 5, 6],
       [2, 3, 4],
       [5, 6, 7]])

In [26]:
# np.hstack stacks arrays together horizontally
np.hstack([grid,grid+1])

array([[1, 2, 3, 2, 3, 4],
       [4, 5, 6, 5, 6, 7]])

In [29]:
np.split(grid,2)

[array([[1, 2, 3]]), array([[4, 5, 6]])]

### Data indexing in series
#### Series object acts like 1 dimensional array but can contain names for each element

In [2]:
import pandas as pd
s1 = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
s1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [31]:
# Using an explicit index
s1['b']

0.5

In [32]:
# Using an implicit index or array 
s1[1]

0.5

In [33]:
# Slicing by explicit index
s1['a':'c'] # Or s[0:2]

a    0.25
b    0.50
c    0.75
dtype: float64

In [34]:
s1[(s1 > 0.3) & (s1 < 0.8)]

b    0.50
c    0.75
dtype: float64

In [35]:
s2 = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
s2

1    a
3    b
5    c
dtype: object

In [39]:
s2[1]

'a'

In [37]:
# Does not work because index 1 is stored as a number
s2['1']

KeyError: '1'

In [40]:
s2[1:3]

3    b
5    c
dtype: object

In [41]:
# iloc attribute allows indexing and slicing that always references the implicit array
s2.iloc[1:3]

3    b
5    c
dtype: object

### Data indexing in DataFrame

In [42]:
ICEdata = pd.read_csv("ICE1_Data.csv")

ICEdata

,DBN,Quality_Review_Score,Progress_Rpt_10-11,Student_Progress_10-11,graduation 2010-11,college enroll 2010-11
0,01M292,Developing,C,C,0.563,0.519
1,01M448,Developing,C,B,0.707,0.363
2,01M450,Well Developed,A,B,0.716,0.692
3,01M509,Proficient,C,C,0.564,0.477
4,01M539,Proficient,A,A,0.953,0.870
...,...,...,...,...,...,...
417,10X696,Well Developed,A,A,1.000,0.936
418,13K430,Proficient,B,B,0.977,0.867
419,10X445,Well Developed,A,A,1.000,0.994
420,14K449,Well Developed,B,B,0.914,0.961
421,28Q687,Proficient,A,B,1.000,0.972

In [43]:
# We can use each column name to slice individual columns
ICEdata['Quality_Review_Score']

0          Developing
1          Developing
2      Well Developed
3          Proficient
4          Proficient
            ...
417    Well Developed
418        Proficient
419    Well Developed
420    Well Developed
421        Proficient
Name: Quality_Review_Score, Length: 422, dtype: object

In [44]:
# Create new column collegeRate
ICEdata['collegeRate'] = ICEdata['college enroll 2010-11'] / ICEdata['graduation 2010-11']
ICEdata

,DBN,Quality_Review_Score,Progress_Rpt_10-11,Student_Progress_10-11,graduation 2010-11,college enroll 2010-11,collegeRate
0,01M292,Developing,C,C,0.563,0.519,0.921847
1,01M448,Developing,C,B,0.707,0.363,0.513437
2,01M450,Well Developed,A,B,0.716,0.692,0.966480
3,01M509,Proficient,C,C,0.564,0.477,0.845745
4,01M539,Proficient,A,A,0.953,0.870,0.912907
...,...,...,...,...,...,...,...
417,10X696,Well Developed,A,A,1.000,0.936,0.936000
418,13K430,Proficient,B,B,0.977,0.867,0.887410
419,10X445,Well Developed,A,A,1.000,0.994,0.994000
420,14K449,Well Developed,B,B,0.914,0.961,1.051422
421,28Q687,Proficient,A,B,1.000,0.972,0.972000

In [45]:
# Returns row 0 as a series
ICEdata.loc[0]

DBN                           01M292
Quality_Review_Score      Developing
Progress_Rpt_10-11                 C
Student_Progress_10-11             C
graduation 2010-11             0.563
college enroll 2010-11         0.519
collegeRate                 0.921847
Name: 0, dtype: object

In [46]:
# Returns 3 rows and 2 cols
ICEdata.iloc[:3, :2]

      DBN Quality_Review_Score
0  01M292           Developing
1  01M448           Developing
2  01M450       Well Developed

In [50]:
# Returns until row 20 and until col stated
ICEdata.loc[:20, :'Student_Progress_10-11']

       DBN Quality_Review_Score Progress_Rpt_10-11 Student_Progress_10-11
0   01M292           Developing                  C                      C
1   01M448           Developing                  C                      B
2   01M450       Well Developed                  A                      B
3   01M509           Proficient                  C                      C
4   01M539           Proficient                  A                      A
5   01M696       Well Developed                  B                      C
6   02M047           Proficient                  C                      D
7   02M288           Proficient                  A                      B
8   02M294       Well Developed                  B                      B
9   02M296           Proficient                  A                      A
10  02M298       Well Developed                  A                      A
11  02M300           Proficient                  B                      C
12  02M303           Proficient                  B                      C
13  02M305           Proficient                  C                      D
14  02M308       Well Developed                  A                      A
15  02M316           Proficient                  B                      C
16  02M374           Proficient                  C                      C
17  02M376       Well Developed                NaN                    NaN
18  02M392           Proficient                NaN                    NaN
19  02M393           Proficient                NaN                    NaN
20  02M399           Proficient                NaN                    NaN

### Data Masking

In [51]:
m2

array([[9, 0, 0, 9],
       [3, 4, 0, 0],
       [4, 1, 7, 3]])

In [52]:
# Returns an array full of True or Flase marking which positions satisfy the criteria
m2<2

array([[False,  True,  True, False],
       [False, False,  True,  True],
       [False,  True, False, False]])

In [53]:
# Access all elements that satisfy the criteria
m2[m2 < 2]

array([0, 0, 0, 0, 1])

In [54]:
# Return all elemeents greater than 2 and smaller than 5
mask = (m2 > 2) & (m2 <5)
m2[mask]

array([3, 4, 4, 3])

In [55]:
ICEmask = (ICEdata['graduation 2010-11'] > 0.75) & (ICEdata['Progress_Rpt_10-11'] == 'A') & (ICEdata['Student_Progress_10-11'] == 'B')
ICEdata[ICEmask]

,DBN,Quality_Review_Score,Progress_Rpt_10-11,Student_Progress_10-11,graduation 2010-11,college enroll 2010-11,collegeRate
7,02M288,Proficient,A,B,0.820,0.627,0.764634
25,02M412,Proficient,A,B,0.964,0.774,0.802905
75,04M435,Well Developed,A,B,0.920,0.757,0.822826
78,04M610,Proficient,A,B,0.984,0.982,0.997967
85,05M670,Developing,A,B,0.789,0.559,0.708492
107,07X548,Proficient,A,B,0.866,0.663,0.765589
108,07X551,Proficient,A,B,0.831,0.605,0.728039
147,09X543,Well Developed,A,B,0.765,0.319,0.416993
149,10X141,Proficient,A,B,0.870,0.784,0.901149
158,10X374,Well Developed,A,B,0.939,NaN,NaN
161,10X437,Developing,A,B,0.855,0.325,0.380117
175,11X275,Proficient,A,B,0.762,0.517,0.678478
206,13K419,Proficient,A,B,0.802,0.399,0.497506
220,14K478,Well Developed,A,B,0.847,0.432,0.510035
251,17K531,Proficient,A,B,0.787,0.433,0.550191
274,19K404,Well Developed,A,B,0.855,0.538,0.629240
305,22K535,Well Developed,A,B,0.958,0.862,0.899791
308,23K514,Proficient,A,B,0.769,0.467,0.607282
334,26Q430,Proficient,A,B,0.875,0.680,0.777143
336,26Q495,Well Developed,A,B,0.862,0.745,0.864269
356,28Q440,Proficient,A,B,0.844,0.649,0.768957
357,28Q505,Proficient,A,B,0.756,0.529,0.699735
358,28Q620,Well Developed,A,B,0.877,0.697,0.794755
383,31R080,Proficient,A,B,0.866,0.817,0.943418
384,31R440,Well Developed,A,B,0.756,0.473,0.625661
413,03M485,Outstanding (only an option in 2007-8),A,B,0.982,0.861,0.876782
415,02M475,Well Developed,A,B,0.985,0.854,0.867005
416,05M692,Well Developed,A,B,0.982,0.934,0.951120
421,28Q687,Proficient,A,B,1.000,0.972,0.972000

### Combining Datasets

In [4]:
def make_df(cols, ind):
    #Quickly make a DataFrame
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# example DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [5]:
# This is very similar to np.concatenate() or np.vstack(). 
# By default, the concatenation takes place row-wise within the DataFrame.

df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1, "\n\n\n")
print(df2, "\n\n\n")
print(pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2



    A   B
3  A3  B3
4  A4  B4



    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [6]:
# What happens when different sources have some but not all cols in common
df3 = make_df('ABC', [1, 2])
df4 = make_df('BCD', [3, 4])
print(df3, "\n\n\n")
print(df4, "\n\n\n")
print(pd.concat([df3, df4]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2



    B   C   D
3  B3  C3  D3
4  B4  C4  D4



     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [7]:
# Only show those with values
pd.concat([df3, df4], join = 'inner')

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [8]:
# pd.merge() one-to-one join is similar to the column wise concatenation
# Many one-to-one joins are joins where one of the 2 key cols contain duplicate entries
df5 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df6 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
dfm = pd.merge(df5, df6)

print(df5, "\n\n\n")
print(df6, "\n\n\n")
print(dfm)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR



  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014



  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [9]:
# Many-to-one join preserves duplicate entries 
# For Lisa, group and supervisor autofills
df7 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})

dfm = pd.merge(df5, df7)
print(df7, "\n\n\n")

print(dfm)

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve



  employee        group supervisor
0      Bob   Accounting      Carly
1     Jake  Engineering      Guido
2     Lisa  Engineering      Guido
3      Sue           HR      Steve

In [10]:
# Explicitly specify the name of the key column
pd.merge(df5, df6, on='employee')

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [11]:
# Merging datasets with different col names but mean the same thing
df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
pd.merge(df5, df8, left_on = 'employee', right_on = 'name')

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [12]:
# Dropping redundant column 'name'
pd.merge(df5, df8, left_on = 'employee', right_on = 'name').drop('name', axis=1)

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

### Aggregation, grouping, and pivot tables

In [71]:
ICEdata.describe(include = 'all')

,DBN,Quality_Review_Score,Progress_Rpt_10-11,Student_Progress_10-11,graduation 2010-11,college enroll 2010-11,collegeRate
count,422,368,310,310,310.000000,291.000000,291.000000
unique,422,6,5,5,NaN,NaN,NaN
top,19K660,Proficient,A,C,NaN,NaN,NaN
freq,1,186,109,93,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,0.737977,0.531196,0.707836
std,NaN,NaN,NaN,NaN,0.143356,0.193129,0.168986
min,NaN,NaN,NaN,NaN,0.412000,0.141000,0.262570
25%,NaN,NaN,NaN,NaN,0.625250,0.391000,0.589317
50%,NaN,NaN,NaN,NaN,0.726000,0.489000,0.707569
75%,NaN,NaN,NaN,NaN,0.850750,0.656000,0.838918
max,NaN,NaN,NaN,NaN,1.000000,1.000000,1.101227

In [72]:
# Aggregation includes sum(), mean(), median(), min(), max()
# Others include count(), first(), last(), std(), var(), mad(), prod(), sum()
ICEdata.mean()

graduation 2010-11        0.737977
college enroll 2010-11    0.531196
collegeRate               0.707836
dtype: float64

In [73]:
ICEdata['graduation 2010-11'].max()

1.0

In [74]:
# groupby follows 3 steps: split, apply, combine
ICEdata.groupby('Quality_Review_Score')

In [75]:
# See the mean for each group
ICEdata.groupby('Quality_Review_Score').mean()

,graduation 2010-11,college enroll 2010-11,collegeRate
Quality_Review_Score,,,
Developing,0.633019,0.402830,0.641309
Outstanding (only an option in 2007-8),0.864333,0.747667,0.864183
Proficient,0.729554,0.521208,0.703604
Underdeveloped,0.549667,0.350167,0.631451
"Underdeveloped with Proficient Features (only an option in 2007-8, 2008-9 and 2009-10)",NaN,NaN,NaN
Well Developed,0.823367,0.625871,0.752696

In [76]:
# We can also just simply index one column
ICEdata.groupby('Quality_Review_Score')['graduation 2010-11'].describe()

,count,mean,std,min,25%,50%,75%,max
Quality_Review_Score,,,,,,,,
Developing,53.0,0.633019,0.107199,0.457,0.56300,0.615,0.69800,0.947
Outstanding (only an option in 2007-8),3.0,0.864333,0.102051,0.800,0.80550,0.811,0.89650,0.982
Proficient,157.0,0.729554,0.135946,0.412,0.63000,0.722,0.81100,1.000
Underdeveloped,6.0,0.549667,0.061805,0.457,0.51525,0.554,0.59350,0.624
"Underdeveloped with Proficient Features (only an option in 2007-8, 2008-9 and 2009-10)",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Well Developed,90.0,0.823367,0.121570,0.545,0.72775,0.833,0.91875,1.000

In [77]:
ICEdata.groupby(['Quality_Review_Score', 'Progress_Rpt_10-11']).count().unstack()
# Here unstack() is just to make the data more readable.
# See descriptions here: https://www.w3resource.com/pandas/dataframe/dataframe-unstack.php

                                         DBN                         \
Progress_Rpt_10-11                         A     B     C     D    F
Quality_Review_Score
Developing                               4.0  11.0  19.0  16.0  3.0
Outstanding (only an option in 2007-8)   3.0   NaN   NaN   NaN  NaN
Proficient                              48.0  65.0  39.0   5.0  NaN
Underdeveloped                           NaN   NaN   3.0   1.0  2.0
Well Developed                          53.0  26.0  11.0   NaN  NaN

                                       Student_Progress_10-11              \
Progress_Rpt_10-11                                          A     B     C
Quality_Review_Score
Developing                                                4.0  11.0  19.0
Outstanding (only an option in 2007-8)                    3.0   NaN   NaN
Proficient                                               48.0  65.0  39.0
Underdeveloped                                            NaN   NaN   3.0
Well Developed                                           53.0  26.0  11.0

                                                   ... college enroll 2010-11  \
Progress_Rpt_10-11                         D    F  ...                      A
Quality_Review_Score                               ...
Developing                              16.0  3.0  ...                    3.0
Outstanding (only an option in 2007-8)   NaN  NaN  ...                    3.0
Proficient                               5.0  NaN  ...                   45.0
Underdeveloped                           1.0  2.0  ...                    NaN
Well Developed                           NaN  NaN  ...                   48.0

                                                              collegeRate  \
Progress_Rpt_10-11                         B     C     D    F           A
Quality_Review_Score
Developing                              11.0  16.0  15.0  2.0         3.0
Outstanding (only an option in 2007-8)   NaN   NaN   NaN  NaN         3.0
Proficient                              63.0  37.0   4.0  NaN        45.0
Underdeveloped                           NaN   3.0   1.0  2.0         NaN
Well Developed                          26.0  11.0   NaN  NaN        48.0


Progress_Rpt_10-11                         B     C     D    F
Quality_Review_Score
Developing                              11.0  16.0  15.0  2.0
Outstanding (only an option in 2007-8)   NaN   NaN   NaN  NaN
Proficient                              63.0  37.0   4.0  NaN
Underdeveloped                           NaN   3.0   1.0  2.0
Well Developed                          26.0  11.0   NaN  NaN

[5 rows x 25 columns]

In [78]:
# aggregate() method can takea list and compute all aggregates at once
ICEdata.groupby('Quality_Review_Score').aggregate(['median', 'min', 'max'])

                                                   graduation 2010-11         \
                                                               median    min
Quality_Review_Score
Developing                                                      0.615  0.457
Outstanding (only an option in 2007-8)                          0.811  0.800
Proficient                                                      0.722  0.412
Underdeveloped                                                  0.554  0.457
Underdeveloped with Proficient Features (only a...                NaN    NaN
Well Developed                                                  0.833  0.545

                                                           \
                                                      max
Quality_Review_Score
Developing                                          0.947
Outstanding (only an option in 2007-8)              0.982
Proficient                                          1.000
Underdeveloped                                      0.624
Underdeveloped with Proficient Features (only a...    NaN
Well Developed                                      1.000

                                                   college enroll 2010-11  \
                                                                   median
Quality_Review_Score
Developing                                                         0.4030
Outstanding (only an option in 2007-8)                             0.6920
Proficient                                                         0.4900
Underdeveloped                                                     0.3715
Underdeveloped with Proficient Features (only a...                    NaN
Well Developed                                                     0.5920

                                                                 collegeRate  \
                                                      min    max      median
Quality_Review_Score
Developing                                          0.165  0.658    0.647416
Outstanding (only an option in 2007-8)              0.690  0.861    0.862500
Proficient                                          0.183  0.990    0.699735
Underdeveloped                                      0.141  0.465    0.712859
Underdeveloped with Proficient Features (only a...    NaN    NaN         NaN
Well Developed                                      0.268  1.000    0.765269


                                                         min       max
Quality_Review_Score
Developing                                          0.271829  1.048622
Outstanding (only an option in 2007-8)              0.853268  0.876782
Proficient                                          0.296503  1.101227
Underdeveloped                                      0.262570  0.756567
Underdeveloped with Proficient Features (only a...       NaN       NaN
Well Developed                                      0.388970  1.051422

In [81]:
# Request mean data of graduation 2010-11 for Quality_Review_Score and Progress_Rpt_10-11
ICEdata.groupby(['Quality_Review_Score', 'Progress_Rpt_10-11'])['graduation 2010-11'].aggregate('mean').unstack()

Progress_Rpt_10-11,A,B,C,D,F
Quality_Review_Score,,,,,
Developing,0.716500,0.654545,0.639474,0.613812,0.504333
Outstanding (only an option in 2007-8),0.864333,NaN,NaN,NaN,NaN
Proficient,0.817083,0.722077,0.660333,0.526400,NaN
Underdeveloped,NaN,NaN,0.556333,0.457000,0.586000
Well Developed,0.862472,0.791000,0.711455,NaN,NaN

In [82]:
# Pivot table uses mean as the default aggregation method
ICEdata.pivot_table('graduation 2010-11', index='Quality_Review_Score', columns='Progress_Rpt_10-11')

Progress_Rpt_10-11,A,B,C,D,F
Quality_Review_Score,,,,,
Developing,0.716500,0.654545,0.639474,0.613812,0.504333
Outstanding (only an option in 2007-8),0.864333,NaN,NaN,NaN,NaN
Proficient,0.817083,0.722077,0.660333,0.526400,NaN
Underdeveloped,NaN,NaN,0.556333,0.457000,0.586000
Well Developed,0.862472,0.791000,0.711455,NaN,NaN

In [83]:
# Use aggfunc keyword to tell Python what aggregation method you want
ICEdata.pivot_table('graduation 2010-11',
                    index='Quality_Review_Score',
                    columns='Progress_Rpt_10-11',
                   aggfunc = 'median')

Progress_Rpt_10-11                          A       B      C      D      F
Quality_Review_Score
Developing                              0.702  0.6290  0.587  0.615  0.506
Outstanding (only an option in 2007-8)  0.811     NaN    NaN    NaN    NaN
Proficient                              0.806  0.7150  0.662  0.531    NaN
Underdeveloped                            NaN     NaN  0.537  0.457  0.586
Well Developed                          0.879  0.8145  0.676    NaN    NaN